* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/background.png);
}

.game {
  position: relative;
  border: 2px solid black;
  height: 90%;
  max-height: 500px;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.floor {
  position: absolute;
  min-width: 120%;
  height: 100%;
  bottom: 0;
  right: 0;
  animation: floor-animation .7s infinite linear;
}

.cloud1 {
  position: absolute;
  top: 170px;
  width: 300px;
  filter: opacity(70%) blur(.8px);
  animation: cloud-1-animation 20s infinite linear;
}

.cloud2 {
  position: absolute;
  top: 100px;
  width: 200px;
  filter: blur(.6px) opacity(90%);
  animation: cloud-2-animation 14s infinite linear;
}

.naruto {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 150px;
}

.jump {
  animation: jump 700ms ease-out;
}

.enemy {
  position: absolute;
  bottom: 28px;
  width: 50px;
  /* left: 20px; */
  filter: brightness(.9);
  animation: enemies-animation 2s infinite linear;
}

@keyframes enemies-animation {
  from {
    right: -100px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 20px;
  }

  40% {
    bottom: 150px;
  }

  60% {
    bottom: 150px;
  }

  100% {
    bottom: 20px;
  }

}

@keyframes cloud-1-animation {
  from {
    right: -300px;
  }

  to {
    right: 100%;
  }
}

@keyframes cloud-2-animation {
  from {
    right: -200px;
  }

  to {
    right: 100%;
  }
}

@keyframes floor-animation {
  from {
    right: -20%;
  }

  to {
    right: 0;
  }
}